.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 80%), url(https://th.bing.com/th/id/OIP.RHTsaLeJGW8s_RnB21raHAHaFY?w=254&h=185&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    object-fit: contain;
    overflow-y: scroll;
}

.dogs{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    flex-wrap: wrap;
    float: right;
    width: 70%;
    background-color: #eee;
    margin-right: 10px;
    border-top-left-radius: 20px 50 px;
    border-bottom-right-radius: 50px 100px;
    justify-content: center;
    background-color: transparent;
}

.nav {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    color: rgb(232, 243, 130);
    background: transparent;
    width: 100%;
    height: fit-content; /*  darle espacio al contenido */
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: fantasy;
    font-size: 12px;
    flex-wrap: wrap;
}

.volverInicio{
    text-align: center;
    justify-content: center;
    color: #cbf3f0;
    background:transparent;
    font-family: fantasy;
    font-size: 35px;
    letter-spacing: 0;
    text-shadow: -4px -4px 4px rgb(66, 66, 63), 4px -4px 4px rgb(66, 66, 63), -4px 4px 4px rgb(66, 66, 63), 4px 4px 4px rgb(66, 66, 63);
    margin-bottom: 1px;
    margin: 10px; 
    height: fit-content;
}

.volverInicio:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgb(51, 51, 49), 0 17px 50px 0 rgb(51, 51, 49);
    height: fit-content;
}



.reset{ 
    background-color: #cbf3f0; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
    height: fit-content;
}

.crearPerro{
    background-color: #cbf3f0; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
    height: fit-content;
    
}

.crearPerro:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgb(51, 51, 49), 0 17px 50px 0 rgb(51, 51, 49);
}

.reset:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgb(51, 51, 49), 0 17px 50px 0 rgb(51, 51, 49);
}

.allBreeds{
    background-color: #cbf3f0; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
    margin:10px;
    transition: filter 0.5s;
}

.allBreeds:hover {
    cursor: pointer;
    filter: brightness(80%);
  }
.ordenAlfabetico{
    background-color: #cbf3f0; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
    margin:10px;
    transition: filter 0.5s;
}
.ordenAlfabetico:hover {
    cursor: pointer;
    filter: brightness(80%);
  }
.porPeso{
    background-color: #cbf3f0; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
    margin:10px;
    transition: filter 0.5s;
}
.porPeso:hover {
    cursor: pointer;
    filter: brightness(80%);
  }
.temp{
    background-color: #cbf3f0; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
    margin:10px;
    transition: filter 0.5s;
}
.temp:hover {
    cursor: pointer;
    filter: brightness(80%);
  }

.paginado{
    display: flex;
    flex-direction:row;
    flex: 1 30px;
    justify-content:space-around;
    align-items:center;
    color: rgb(148, 148, 145);
    background:transparent;
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
}

Link{
    all: unset;
}

