.contain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 80%), url(https://www.bing.com/th?id=OIP.TRzqDf2j7lV8miXJgb099gHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    background-size: cover;
    object-fit: contain;
    overflow-y: scroll;
}

.containButton {
    position: fixed;
    text-align: center;
    top: 15rem;
    left: 3rem;
    
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.botonLanding{
    display: inline-block;
    justify-content: center;
   
    padding: 2rem;
    align-items: center;
    text-align: center;
}
.linkNav{
    text-decoration: none;
    all: unset;
}

.contain button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: pokeSolid;
    font-size: 2.1rem;
    text-shadow: 2px 2px 0 var(--blue), 2px -2px 0 var(--blue), -2px 2px 0 var(--blue), -2px -2px 0 var(--blue), 2px 0px 0 var(--blue), 0px 2px 0 var(--blue), -2px 0px 0 var(--blue), 0px -2px 0 var(--blue);
    background-color: darkslategray;
    background-position: center;
    background-size: 1rem 1rem;
    color: var(--yellow);
    letter-spacing: 4px;
    background-repeat: no-repeat;
    transition: all 1s;
    /* border-radius: 15px 15px 15px 15px; */
    border-radius: 20% 20% / 40% 40%;
    box-shadow: inset 0px 0px 10px 2px black;
}

.contain button:hover {
    box-shadow: inset 0px 0px 5px 1px black, 0px 0px 10px 2px white;
    transition: all 1s;
    height: 10rem;
    background-size: 15rem 15rem;
    border-radius: 50% 50% / 40% 40%;
    border-style: double black;
    cursor: pointer;
}